body {
	background-color: #141414;
	color: #fff;
	font-family: helvetica,arial,sans-serif;
}

.splash_av {
  float: left;
  padding: 1px;
  margin-right: 10px;
  border: 1px solid #333;
}

#footer {
  text-align: center;
}

#header {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-bottom: 2em;
}

h1 {
	color: #DF6543;
	text-align: center;
	padding-top: 10px;
}

.block {
	background-color: #000;
	color: #fff;
	width: 600px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #333;
	margin-bottom: 25px;
	font-family: "monaco", monospace;
	cursor: pointer;
}

#photos {
  background-image: "http://farm3.static.flickr.com/2284/3532740134_fae7fb57cd_m.jpg";
}

.block h2 {
	text-align: center;
	padding-top: 60px;
	z-index: 10;
	position: relative;
}

a {
  text-decoration: none;
  color: #7187A8;
}

a:hover {
  color: #F5EE97;
}

.block:hover h2 a {
  color: #F5EE97;
}

.bits {
  width: 590px;
  position: absolute;
  color: #222;
  font-size: 12px;
}

.container {
  width: 590px;
  position: absolute;
}

.ft {
  position: absolute;
}