html {
	background-color: #141414;
	color: #fff;
	font-family: helvetica,arial,sans-serif;
}

.splash_av {
  float: left;
  padding: 1px;
  margin-right: 10px;
  border: 1px solid #333;
}

#footer {
  clear: both;
  margin-top: 2em;
  text-align: center;
}

#header {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-bottom: 2em;
  height: 50px;
}

#header h1 {
	color: #DF6543;
	text-align: center;
	padding-top: 10px;
	font-size: 2em;
}

#header a, #header a:hover {
  color: #DF6543;
}

#header a:hover {
  text-decoration: underline;
}

.block {
	background-color: #000;
	color: #fff;
	width: 620px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #333;
	margin-bottom: 25px;
	font-family: "monaco", monospace;
	cursor: pointer;
	position: relative;
}

#code {
  display: block;
}

.block .label {
  position: absolute;
  left: 50px;
  top: 0px;
}

.block h2 {
	text-align: center;
	z-index: 10;
	font-size: 3em;
	background: #000;
  opacity: 0.79;
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: #7187A8;
}

a:hover {
  color: #F5EE97;
}

.block:hover h2 a {
  color: #F5EE97;
}

.bits {
  width: 100%;
  /*position: absolute;*/
  color: #222;
  font-size: 13px;
}

.container {
  width: 100%;
  /* position: absolute; */
}

.ft {
  width: 55px;
  float:left;
  margin-left: 6px;
  margin-top: 6px;
}

.floating-a {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

td.exifKey {
  text-align: right;
}

td.exifValue {
  text-align: left;
}

/*
#photos-container {
  text-align: center;
  margin: 0 auto;
}
*/


#photos-container {
  width: 800px;
  margin: 0 auto;
}


.photo-cell {
  padding: 1em;
}

.photo-cell img {
  cursor: pointer;
}