body {
	background-color: #141414;
	font-family: helvetica,arial,sans-serif;
}

h1 {
	color: #fff;
	text-align: center;
}

.block {
	background-color: #000;
	color: #fff;
	width: 600px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #333;
	margin-bottom: 50px;
}

.block h2 {
	text-align: center;
	padding-top: 70px;
	cursor: pointer;
}

.block h2 a {
  text-decoration: none;
}

.block .bit {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 10;
}