<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"  />
    <title>{% if page.title %}wadesimmons : {{ page.title }}{% else %}wadesimmons{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" /> 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/base/base-min.css" /> 
    <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="SHORTCUT ICON" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>-->
    <script src="/js/jquery-1.3.2.js" type="text/javascript"></script>
    <script src="/js/jquery.parsequery.min.js" type="text/javascript"></script>
    {% if page.js %}
        {% for js in page.js %}
            <script src="{{ js }}" type="text/javascript"></script>
        {% endfor %}
    {% endif %}
    {% if page.css %}
        {% for css in page.css %}
            <link rel="stylesheet" href="{{ css }}" type="text/css" />
        {% endfor %}
    {% endif %}
    {% if page.style %}
        <style type="text/css">
            {{ page.style }}
        </style>
    {% endif %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10238719-1']);
      _gaq.push(['_trackPageview']);
      
      var _g = _g || {};
      _g.trackEvent = function() {
        var args = Array.prototype.slice.call(arguments);
        args.unshift('_trackEvent');
        _gaq.push(args);
      };
      
      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        document.documentElement.firstChild.appendChild(ga);
      })();
    </script>
  </head>
  <body>
    <div id="header">
      <img class="splash_av" src="/img/avatar/1.png" />
      <img class="splash_av" src="/img/avatar/2.jpg" />
      <img class="splash_av" src="/img/avatar/3.jpg" />
      <img class="splash_av" src="/img/avatar/4.jpg" />
      <img class="splash_av" src="/img/avatar/5.jpg" />
      <h1>{% if page.isIndex %}wade simmons{% else %}<a href='http://wades.im/mons'>wade simmons</a>{% endif %}</h1>
    </div>
      {{ content }}
    <div id="footer">
      <a href="http://twitter.com/wadey">@wadey</a>
    </div>
  </body>
</html>
